name: Docker Build

on:
  schedule:
    - cron: '0 10 * * *' # Run daily at 10 am UTC

  push:
    branches: 
      - main
    
  pull_request:
    branches:
      - main
  
  # Enable manual trigger      
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
    - name: Checkout the software  
      uses: actions/checkout@v4
      
    - name: Restore Docker build cache
      uses: actions/cache@v4
      with:
        path: .buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Repository
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
        
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
              
    # Cache OpenSSL Build to speed up subsequent builds as fips.so should not change often
    - name: Build and push Docker Image with cache
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: alpine-node-openssl-fips
      run: |
        # Create a custom builder to ensure single platform build
        docker buildx create --name single_platform_builder --driver docker-container --use || docker buildx use single_platform_builder
        docker buildx build \
            --platform=linux/amd64 \
            --provenance=false \
            --sbom=false \
            --progress=plain \
            --cache-from=type=local,src=.buildx-cache --cache-to=type=local,dest=.buildx-cache \
            -t ghcr.io/izgateway/alpine-node-openssl-fips:latest \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:${{github.run_number}} \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:latest \
            --push .
